/* Importing a Google Font */

 @import url("https://use.typekit.net/lpw3gtc.css")
/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #e0ebf3;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #7e86f4;
}

.topnav-right {
  float: right !important;
}



/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}


/* Hero Section shadow */

.white-shadow {
	text-shadow: -.01em -.01em .01em white,
		.02em .02em .02em white,
		0 0 .2em white,
		0 0 .5em white;
}

.the-backstage-title {
	color: #b47bff;
	font-family: 'Times New Roman';
	font-size: xx-large;
	font-weight: bold;
}

/* Home Page classes*/

.containercard {
    display: flex;
    justify-content: space-between;
  }
  .columncard {
    width: 45%; /* Adjust width as needed */
  }


.button2 {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.containerhomepage {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);